<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!--<class name="com.ii.qa.testcases.LoginTest"/>-->
      <class name="com.ii.qa.testcases.LoginTest"/>
      <!--  <class name="com.ii.qa.testcases.Delivery.DeliveryEditTestCases"/> -->
      
        <!--  <class name="SupplierSupplier.AddSupplierSupplierTestCases"/> -->
        <!--  <class name="SupplierSupplier.DeleteSupplierSupplierTestCases"/> -->
        <!--  <class name="SupplierSupplier.EditSupplierSupplierTestCases"/> -->
        
         <!--  <class name="com.ii.qa.testcases.Delivery.EquipmentTestCases.AddEquipmentTestCases"/>-->
      <!--  <class name="com.ii.qa.testcases.Delivery.EquipmentTestCases.DeleteEuipmentTestCases"/>-->
      <!--  <class name="com.ii.qa.testcases.Delivery.EquipmentTestCases.EditEquipmentTestCases"/>-->
      
      <!-- <class name="com.ii.qa.testcases.Employee.AddEmployee"/>-->
       <!--  <class name="com.ii.qa.testcases.MaterialMainCategoryButtonTestCases"/>-->
         <!-- <class name="com.ii.qa.testcases.ButtonTC.ForgetLinkPageTc"/> -->
      <!--   <class name="com.ii.qa.testcases.ButtonTC.Dropdown"/>-->
      <!--   <class name="com.ii.qa.testcases.ButtonTC.RadioButtonsTest"/>-->
        <!--<class name="com.ii.qa.testcases.ButtonTC.TextTestCase"/>-->
         <class name="com.ii.qa.testcases.ButtonTC.CheckBoxTestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->